<?xml version="1.0" encoding="UTF-8"?>
<Context privileged="true" docBase="$docBase">
	<ResourceLink name="jdbc/unite" global="jdbc/unite" type="javax.sql.DataSource"/>
	<ResourceLink name="mail/uniteSession" global="mail/unite" type="javax.mail.Session" />

	<Environment name="uniteConfigurationDirectory" value="${basedir}/configuration" type="java.lang.String" override="false"/>
	<Environment name="uniteApplicationDataDirectory" value="${basedir}/../application-data" type="java.lang.String" override="false"/>
	<Environment name="documentAttachmentUri" value="${documentAttachmentUri}" type="java.lang.String" override="false"/>

    <Environment name="pergoIntegrationUrl" value="${pergoIntegrationUrl}" type="java.lang.String" override="false" />
   	<Environment name="petaIntegrationUrl" value="${petaIntegrationUrl}" type="java.lang.String" override="false" />
    <Environment name="reportingIntegrationUrl" value="" type="java.lang.String" override="false" />

   	<Environment name="noreplyAddress" value="noreply@ibanx.nl" type="java.lang.String" override="false" />

   	<Environment name="operatePlantContext" value="/pergo-scriptor" type="java.lang.String" override="false" />
   	<Environment name="workClearanceContext" value="/concedo-permit" type="java.lang.String" override="false" />
   	<Environment name="improvePlantContext" value="/peta-mutatio" type="java.lang.String" override="false" />

	<Manager className="org.apache.catalina.session.PersistentManager" saveOnRestart="false"/>
</Context>
