<html>
<head></head>
<body>
<div id="bodycol">
    <p style="font-family:verdana;">
        $i18n.format($locale, "ICQRegistrationMail", [$url, $event.incidentIdentity])
    </p>
    <hr>
    <p style="font-family:verdana;font-style:italic;">ChangeCliq/IncidentCliq - module of Unite suite</p>
</div>
</body>
</html>
