<html>
<head></head>
<body>
<link rel="stylesheet" href="${contextPath}/res/stylesheet/unite.css"/>
<link rel="stylesheet" href="${contextPath}/res/stylesheet/email.css"/>
<div id="bodycol">
    <p style="font-family:verdana;">
            $i18n.format($locale, "ICQDismissedMail", [$url, $event.incidentIdentity])
        </p>
        <hr>
        <p style="font-family:verdana;font-style:italic;">ChangeCliq/IncidentCliq - module of Unite suite</p>
</div>
</body>
</html>