@page {/* for printing */
    size: landscape;
    margin: 0.3in; /* smallest for IE */
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.headerTable { /* shift info */
    vertical-align: top;
    font-size: 0.9em !important;
}

.group-title, .group-value {
    display: inline;
}

.group-value {
    font-style: italic;
    font-weight: normal;
}

.group-title {
    display: none;
}

.printable-footer {
    float: left;
    width: 100%;
    clear: both;
    font-size: 80%;
    border-top: 2px solid black;
    margin-top: 20px;
}